<footer class="site-footer">
  <div class="footer-container">
    <ul class="footer-nav">
      <li><a href="{{ '/sequencing/' | relative_url }}">Sequencing</a></li>
      <li><a href="{{ '/shared-equipment/' | relative_url }}">Shared Equipment</a></li>
      <li><a href="{{ '/bioinformatics/' | relative_url }}">Bioinformatics</a></li>
      <li><a href="{{ '/blog/' | relative_url }}">Blog</a></li>
    </ul>
    <div class="footer-credit">
      <a href="https://cgsb.as.nyu.edu">NYU CGSB</a> &middot; Genomics Core
    </div>
  </div>
</footer>
